# <IfModule mod_rewrite.c>
#     RewriteEngine On
#     RewriteBase /
#     RewriteCond %{REQUEST_FILENAME} !-f
#     RewriteCond %{REQUEST_FILENAME} !-d
#     RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]
# </IfModule>


RewriteEngine On
RewriteBase /Employify/
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]

ErrorDocument 403 http://localhost/Code-Employify/index.php
Options -Indexes

<Files .env>
    Require all denied
</Files>

