* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* colors */
:root {
    --light: #fff;
    --primary-color: #091f2f;
    --primary-color-light: #113a53;
    --primary-color-light-hover: #174c6d;
    --secondary-color: #1cc3dcff;
    --secondary-color-hover: #168899;
    --background: radial-gradient(circle, rgba(9, 31, 47, 1) 0%, rgba(9, 31, 47, 1) 66%, rgba(17, 58, 83, 1) 100%);
}
