* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

/* colors */
:root {
    --light: #fff;
    --primary-color: #091f2f;
    --primary-color-light: #113a53;
    --primary-color-light-hover: #174c6d;
    --secondary-color: #1cc3dcff;
    --secondary-color-hover: #168899;
    --background: radial-gradient(circle, rgba(9, 31, 47, 1) 0%, rgba(9, 31, 47, 1) 66%, rgba(17, 58, 83, 1) 100%);
}

/* Main config */
main {
    display: flex;
    flex-direction: column;
}

main section {
    display: flex;
    width: 100%;
    height: 100vh;
}

main .main-menu {
    display: flex;
    width: 100%;
    height: calc(100dvh);
    background: var(--background);
    color: var(--light);
}

main .main-menu .main-container {
    display: flex;
    margin-top: 100px;
}

/* Home left */

aside.aside-container-left {
    margin: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

div.container-left {
    margin-left: 30px;
}

div.container-left h1 {
    font-size: 70px;
    margin-bottom: 40px;
    overflow-y: hidden;
}

div.container-left p {
    font-size: 25px;
    margin-bottom: 6%;
}

.aside-container-left div.recomendation-buttons {
    display: flex;
    gap: 20px;
}

.aside-container-left div.recomendation-buttons button {
    border: none;
    outline: none;
    width: 200px;
    padding: 20px 0 20px 0;
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--light);
    background-color: var(--secondary-color);
}

.aside-container-left div.recomendation-buttons button:hover {
    transition: 0.5s;
    background-color: var(--secondary-color-hover);
}

.aside-container-left div.recomendation-buttons button:active {
    transform: scale(0.95);
}

/* Home right */
aside.aside-container-right {
    margin: 0;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.intro-photo-container {
    width: 500px;
    height: 500px;
    border-radius: 30px;
    background-color: burlywood;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Recommendation courses display */

section.feed-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--background);
    width: 100%;
    height: auto;
    color: var(--light);
}

section.feed-display .feed-title {
    margin-top: 150px;
}

section.feed-display .courses-display {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 150px;
    margin-top: 100px;
}

section.feed-display .courses-display .course-container {
    display: flex;
    flex-direction: column;
}

section.feed-display .courses-display .course-container .course-informations {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 15px;
    justify-content: space-between;
    padding: 0 0 0 20px;
}

section.feed-display .courses-display .course-container .course-informations .author-and-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.course-container .course-informations i {
    font-size: 30px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
}

.course-container .course-informations i:hover {
    cursor: pointer;
    background-color: var(--primary-color-light-hover);
}

.course-title-container{
    width: 350px;
}

/* .side-menu.open ~ .course-title-container{
    width: 250px;
} */

p.course-title {
    position: relative;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.course-container .course-informations .author-account-container {
    background-color: aqua;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

section.feed-display .courses-display .course-container .course-thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    width: 500px;
    height: 300px;
    transition: width 0.3s ease, height 0.3s ease;
    overflow: hidden;
}

section.feed-display .courses-display .course-container .course-thumbnail img {
    width: 100%;
    height: 100%;
}

.side-menu.open ~ section.feed-display .courses-display .course-container .course-thumbnail {
    width: 400px;
    height: 250px;
}

/* Dropdown */

.dropdown button i {
    transition: 0.5s;
    color: var(--secondary-color);
}

.dropdown .dropdown-menu i {
    color: var(--secondary-color);
    font-size: 24px;
    border-radius: 50%;
    padding: 12px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    transition: 0.5s;
}

.dropdown button {
    border: none;
    padding: 0 !important;
}

.dropdown .dropdown-menu {
    background-color: var(--primary-color-light);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    padding: 5px;
    border-radius: 10px;
    min-width: 250px;
}

.dropdown .dropdown-menu li a.dropdown-item {
    display: flex;
    align-items: center;
    color: var(--light);
    border-radius: 8px;
    justify-content: left;
}

.dropdown .dropdown-menu li:hover a,
.dropdown .dropdown-menu li a:active,
.dropdown .dropdown-menu li a:focus {
    background-color: var(--primary-color-light-hover);
}

.dropdown .dropdown-menu li a.dropdown-item div {
    display: flex;
    height: 100%;
    align-items: center;
}

.dropdown .dropdown-menu li a.dropdown-item p {
    margin: 0;
}


/* Offcanvas */

main {
    transition: margin-right 0.3s ease-in-out;
}

main.shifted {
    margin-right: 250px;
}

.side-menu {
    position: fixed;
    right: -250px;
    height: 100%;
    width: 250px;
    background: var(--background);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: right 0.3s ease-in-out;
    z-index: 9999;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.side-menu::-webkit-scrollbar {
    display: none;
}

.menu-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--light);
}

.menu-content p {
    padding: 15px 15px;
    cursor: pointer;
    width: 90%;
    margin: 5px 0;
    text-align: center;
    background-color: var(--secondary-color);
    border-radius: 25px;
    color: var(--light);
    text-transform: uppercase;
}

.menu-content p:hover {
    background-color: var(--secondary-color-hover);
    transition: 0.5s;
}

.side-menu-btn {
    position: fixed;
    top: 50%;
    border-radius: 50%;
    right: -15px;
    transform: translateY(-50%);
    padding: 15px 20px 15px 10px;
    background-color: var(--primary-color);
    border: none;
    cursor: pointer;
    transition: right 0.3s ease-in-out;
    z-index: 2;
}

.side-menu-btn i {
    font-size: 25px;
    color: var(--light);
}

.side-menu.open {
    right: 0;
}

hr {
    width: 95%;
    height: 2px;
    border: none;
    background-color: var(--light);
    margin: 20px 0;
}