* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* colors */
:root {
    --light: #fff;
    --primary-color: #091f2f;
    --primary-color-light: #113a53;
    --primary-color-light-hover: #174c6d;
    --secondary-color: #1cc3dcff;
    --secondary-color-hover: #168899;
    --background:  radial-gradient(circle, rgba(9,31,47,1) 0%, rgba(9,31,47,1) 66%, rgba(17,58,83,1) 100%);
}

/* NavBar config */
body .navbar {
    width: 100%;
    height: 100px;
    background: transparent;
    display: flex;
    align-items: center;
    padding: 0 30px;
    color: var(--light);
    transition: 1.5s;
    position: fixed;
}

body .navbar ul li {
    list-style: none;
}

body .navbar ul.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    color: var(--light);
}

/* Employify logo */

body .navbar img.logo{
    width: 70px;
}

body .navbar img.logo:hover{
    cursor: pointer;
}

/* Search bar */
body .navbar .nav-logo-search {
    display: flex;
    align-items: center;
    gap: 30px;
}

body .navbar .search-box {
    display: flex;
    align-items: center;
}

body .navbar .nav-logo-search .search-box input {
    border-radius: 25px;
    width: 250px;
    outline: none;
    border: none;
    padding: 10px 10px 10px 20px;
}

body .navbar .nav-logo-search .search-box button {
    position: relative;
    right: 40px;
    background-color: var(--primary-color);
    border-radius: 50%;
    border: none;
    width: 35px;
    height: 35px;
}

body .navbar .nav-logo-search .search-box button:hover {
    transition: 0.5s;
    background-color: var(--secondary-color);
}

body .navbar .nav-logo-search .search-box button i {
    color: var(--light);
}

body .navbar .nav-logo-search .search-box i.fa-microphone {
    color: var(--secondary-color);
    font-size: 24px;
    padding: 12px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
}

body .navbar .nav-logo-search .search-box i.fa-microphone:hover {
    transition: 0.5s;
    background-color: var(--primary-color-light);
}

/* Profile account photo */
body .navbar .profile-photo {
    background-color: red;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* User Profile dropdown*/
li.user-profile {
    display: flex;
    align-items: center;
    gap: 30px;
}

li.user-profile i {
    color: var(--secondary-color);
    font-size: 24px;
    border-radius: 50%;
    padding: 12px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
}

li.user-profile button i:hover {
    cursor: pointer;
    background-color: var(--primary-color-light);
    transition: 0.5s;
}

li.user-profile button {
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--primary-color-light);
    transition: 0.5s;
    color: var(--light);
}

li.user-profile button:hover {
    background-color: var(--primary-color-light-hover);
}

li.user-profile .register-user a:last-child button {
    background-color: var(--secondary-color);
}

li.user-profile .register-user a:last-child:hover button {
    background-color: var(--secondary-color-hover);
}

li.user-profile .dropdown button {
    background: none;
}

li.user-profile .dropdown .dropdown-menu {
    background-color: var(--primary-color-light);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 5px;
    border-radius: 10px;
    min-width: 250px;
}

li.user-profile .dropdown .dropdown-menu li a.dropdown-item {
    display: flex;
    align-items: center;
    color: var(--light);
    border-radius: 8px;
    justify-content: left;
}

li.user-profile .dropdown .dropdown-menu li:nth-child(2) a.dropdown-item {
    justify-content: space-between;
}

li.user-profile .dropdown .dropdown-menu li:hover a,
li.user-profile .dropdown .dropdown-menu li a:active,
li.user-profile .dropdown .dropdown-menu li a:focus {
    background-color: var(--primary-color-light-hover);
}

li.user-profile .dropdown .dropdown-menu li a.dropdown-item div {
    display: flex;
    height: 100%;
    align-items: center;
}

li.user-profile .dropdown .dropdown-menu li a.dropdown-item p {
    margin: 0;
}

/* UIVERSE theme switch */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
}

.switch {
    position: relative;
    display: inline-block;
    width: 2.2em;
    height: 1.2em;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 18px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 0.84em;
    width: 0.84em;
    border-radius: 20px;
    left: 0.18em;
    bottom: 0.18em;
    background-color: white;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--secondary-color);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--secondary-color);
}

input:checked+.slider:before {
    transform: translateX(1em);
}